In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [6]:
datasetDF = pd.read_csv("GoalRush.csv")
datasetDF

      HomeTeam  AwayTeam  Result
0            1        12       0
1            4        13       0
2            5        19       1
3            6         3       0
4            8         9       0
...        ...       ...     ...
5495        11        18       1
5496        12         2       0
5497        14         8       1
5498        16        15       0
5499        17        19       1

[5500 rows x 3 columns]

In [9]:
x = datasetDF.drop('Result', axis=1)
y = datasetDF['Result']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 42)

In [10]:
model = GaussianNB()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
y_pred
accuracy = accuracy_score(y_test, y_pred)*100
accuracy

49.89090909090909