In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [3]:
datasetDF = pd.read_csv("NoGoalsAtHalfTime.csv")
datasetDF

      _1  _2  _3
0      1  12   0
1      4  13   1
2      5  19   0
3      6   3   0
4      8   9   1
...   ..  ..  ..
5495  11  18   0
5496  12   2   0
5497  14   8   0
5498  16  15   0
5499  17  19   1

[5500 rows x 3 columns]

In [4]:
x = datasetDF.drop('_3', axis=1)
y = datasetDF['_3']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 42)

In [5]:
model = GaussianNB()
model.fit(x_train, y_train)
y_pred = model.predict(x_test)
y_pred
accuracy = accuracy_score(y_test, y_pred)*100
accuracy

68.58181818181818

In [8]:
num_true = len(datasetDF.loc[datasetDF['_3'] == True])
num_false = len(datasetDF.loc[datasetDF['_3'] == False])
print("Number of True cases: {0} ({1:2.2f}%)".format(num_true, (num_true/ (num_true + num_false)) * 100))
print("Number of False cases: {0} ({1:2.2f}%)".format(num_false, (num_false/ (num_false + num_true)) * 100))

Number of True cases: 1668 (30.33%)
Number of False cases: 3832 (69.67%)